@import url('https://fonts.googleapis.com/css?family=Telex&display=swap');

html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.background{
    width: 100%;
    height: 100%;
    background: #191919;
    font-family: 'Telex', sans-serif;
    color: white;
    position: absolute;
    text-align: center;
}

.background h2{
    margin-top: 20px;
    text-align: center;
}

input{
    width: 26%;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 10px;
    color: #666;
}

input::placeholder{
    font-family: 'Telex', sans-serif;
    color: #999;
}

.background p{
    font-size: 15px;
}

#sketch-holder{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.status{
    margin-top: 5px;
}
